app/static/model/yolov4/weights/*
app/static/model/deepsort/deep/checkpoint/*

*.com
*.class
*.dll
*.exe
*.o
*.so

*.7z
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip

*.log
*.sql
*.sqlite

.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
Thumbs.db
ehthumbs.db

*.mp4
*.pyc
*.pem

app/__pycache__/
