{% extends "base.html" %}

{% block content %}
<!--
    <h1> Enter the URL of the video to run:</h1>
    <form action="search" method="post" novalidate>
        {{ form.hidden_tag() }}
        <p>
            {{ form.url.label }}<br>
            {{ form.url(size=32) }}
            {% for error in form.url.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.submit() }}
        </p>
    </form>
-->    
{% endblock %}
